<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">

  <!-- Include jQuery (required for Fancybox) -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include Fancybox JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= menus.name %></h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="/add" class="btn btn-sm btn-outline-secondary">
                Add menu
            </a>
        </div>
    </div>
</div>

<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
                    <li class="breadcrumb-item active"><%= menus.name %></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Last Updated at <%= new Date(menus.updatedAt).toUTCString() %></b>
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Image</b></div>
        <div class="col">
          <% if (menu.imageData) { %>	
            <a href="data:image/<%= menu.imageExtension %>;base64,<%= menu.imageData %>" data-fancybox="menu-image">
              <img style="height: 60px; width: 70px;" src="data:image/<%= menu.imageExtension %>;base64,<%= menu.imageData %>">	
            </a>
          <% } else { %>	
            <p>No image available</p>	
          <% } %>
        </div>
      </div>
    </li>
  
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Name</b></div>
            <div class="col"><%= menus.name %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Description</b></div>
            <div class="col"><%= menus.description %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Price</b></div>
            <div class="col"><%= menus.price %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Category</b></div>
            <div class="col"><%= menus.category %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Created on</b></div>
            <div class="col"><%= new Date(menus.createdAt).toUTCString() %></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 140px"><b>Last Updated On</b></div>
            <div class="col"><%= new Date(menus.updatedAt).toUTCString() %></div>
        </div>
    </li>
</ul>
<script>
    function hideLoginShowLogout() {
        var loginLink = document.getElementById('loginLink');
        var logoutLink = document.getElementById('logoutLink');
        var registerLink = document.getElementById('registerLink');

        loginLink.style.display = "none";
        logoutLink.style.display = "block";
    }

    // Call this function after a successful login to show only the "Logout" link
    hideLoginShowLogout();
</script>